body{
    background-color: black;
  } 
  .other1{
      border: white;
      border-style: solid;
      border-width: 15px;
      margin-top: 30px;
      margin-left: 30px;
      width: 370px;
      height: 230px;
    }
    .other1:hover{
      border-color: tomato;
    }
    .other-div{
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
  
    .btn {
      margin-left: 44%;
      box-sizing: border-box;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      background-color: transparent;
      border: 2px solid #e74c3c;
      border-radius: 0.6em;
      color: #e74c3c;
      cursor: pointer;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1;
      margin: 20px;
      padding: 1.2em 2.8em;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
    }
    .btn:hover, .btn:focus {
      color: #fff;
      outline: 0;
    }
    
    .first {
        margin-left: 38%;
        margin-top: 60px;
      -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
      transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    }
    .first:hover {
      box-shadow: 0 0 40px 40px #e74c3c inset;
    }